samples/addr.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:addr="urn:addr.api" targetNamespace="urn:addr.api" elementFormDefault="qualified">
	<xsd:complexType name="AddressType">
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string"/>
			<xsd:element name="street" type="xsd:string"/>
			<xsd:element name="city" type="xsd:string"/>
			<xsd:element name="state" type="xsd:string"/>
			<xsd:element name="zip" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="Address" type="addr:AddressType"/>
</xsd:schema>
