samples/dept.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:dept="urn:dept.api"
       targetNamespace="urn:dept.api" elementFormDefault="unqualified">
  <xsd:complexType name="DepartmentType">
    <xsd:sequence>
      <xsd:element name="name" type="xsd:string"/>
      <xsd:element name="code" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="Department" type="dept:DepartmentType"/>
</xsd:schema>
